<h2 class="sub-header">{{lang.manageCategories}}</h2>
<div ng-include="toolbar"></div>
<table class="table table-hover"
       ng-hide="categories.length == 0">
    <thead>
    <tr>
        <th>{{lang.categoryName}}</th>
        <th>{{lang.productsCount}}</th>
        <th>{{lang.deleteQuestion}}</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="category in categories | filter:searchCategory"
        class="rowInTable">
        <td><a title="{{lang.pressToEdit}}" href="" editable-text="category.name"
               e-required e-placeholder="{{lang.categoryName}}"
               onaftersave="update(category)">{{category.name}}</a></td>
        <td>{{category.itemsCount}}</td>
        <td>
            <button class="btn btn-danger btn-sm"
                    ng-click="delete(category)">
                <span class="glyphicon glyphicon-trash"></span>
            </button>
        </td>
    </tr>
    </tbody>
</table>
<div class="alert alert-danger admin-alert" ng-show="categories.length == 0">
    {{lang.pressToAddCategories}}
    <button class="btn btn-xs btn-success" disabled>
        <span class="glyphicon glyphicon-plus-sign"></span>
    </button>
    {{lang.toStart}}
</div>
