
<h2 class="sub-header">ניהול קטגוריות</h2>
<div ng-include="toolbar"></div>
<table class="table table-hover"
       ng-hide="categories.length == 0">
    <thead>
    <tr>
        <th>שם הקטגוריה</th>
        <th>כמות מוצרים</th>
        <th>מחק?</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="category in categories | filter:searchCategory"
        class="rowInTable">
        <td><a title="לחץ לעריכה" href="" editable-text="category.name"
               e-required e-placeholder="שם הקטגוריה"
               onaftersave="update(category)">{{category.name}}</a></td>
        <td>{{category.itemsCount}}</td>
        <td><button class="btn btn-danger btn-sm"
                    ng-click="delete(category)">
            <span class="glyphicon glyphicon-trash"></span>
        </button></td>
    </tr>
    </tbody>
</table>
<div class="alert alert-danger" style="margin-top: 5px;"
     ng-show="categories.length == 0">
    עדיין לא הוספת קטגוריות למערכת, לחץ על
    <button class="btn btn-xs btn-success" disabled>
        <span class="glyphicon glyphicon-plus-sign"></span>
    </button>
    כדי להתחיל
</div>
