<h2 class="sub-header">{{lang.cart}}</h2>
<table class="table table-hover"
       ng-hide="cart.products.length == 0">
    <thead>
    <tr>
        <th>{{lang.productName}}</th>
        <th>{{lang.categoryName}}</th>
        <th>{{lang.price}}</th>
        <th>{{lang.cancel}}</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="product in cart.products">
        <td>{{product.name}}</td>
        <td>{{product.category.name}}</td>
        <td>{{product.price}}‏₪</td>
        <td>
            <button ng-click="removeFromCart(product)"
                    class="btn btn-danger btn-xs">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td style="font-weight: bold" colspan="4">
            {{lang.saleAmount}}: {{cart.currentPrice}}₪
            <button ng-click="checkout()" class="btn btn-success btn-xs" ng-hide="cart.products.length == 0">
                {{lang.ok}}
            </button>
        </td>
    </tr>
    </tfoot>
</table>
<div ng-if="!cart.checkoutCompleted" class="alert alert-danger" style="margin-top: 5px;"
     ng-show="cart.products.length == 0">
    {{lang.cartIsEmpty}}
</div>
<div class="alert alert-success" style="margin-top: 5px;"
     ng-show="cart.checkoutCompleted">
    {{lang.checkoutCompleted}}
</div>
