<label>{{lang.idNumber}}</label>
<input type='text' required="required" ng-pattern="/[0-9]{9}/" ng-maxlength="9" class="form-control"
       ng-model="newWorker.id"
       ng-change="idChanged()"/>
<div class="bg-danger" ng-hide="isValidID">{{lang.idNumberAlreadyChosen}}</div>
<label>{{lang.workerName}}</label>
<input type='text' class="form-control" ng-model="newWorker.name"
       required="required"/>
<br/>
<button class='btn btn-success btn-sm' ng-click='create()'
        ng-disabled="createForm.$invalid || !isValidID">
    {{lang.ok}}
</button>